{% extends "base.html" %}
{% block title %}Add Event{% endblock %}

{% block content %}
    <h3 class="jive-title">Add Event</h3>

    {{ event_form.non_field_errors }}
    {{ recurring_form.non_field_errors }}
    {% if event_form.errors or recurrence_form.errors %}
        <p class="form-errors">Please fix errors in the form.</p>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        <table>
            {{ event_form.as_table }}
            {% include "jivetime/recurring_form_part.html" %}
        </table>

        <input class="jive-btn jive-btn-primary" type="submit" value="Add Event"/>
    </form>

{% endblock %}
