{% extends "base.html" %}
{% block title %}Daily View{% endblock %}
{% block content %}

    <div class="text-center">

        {% include "jivetime/include/menu_scope.html" %}

        <div class="nav p-2">
            <a class="swing-button"
               href="{% url 'jivetime:calendar-day' group.id prev_day.year prev_day.month prev_day.day %}">
                &larr; {{ prev_day|date:"d.m.Y" }}
            </a>
            <div class="border inline-block rounded px-2">
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="date" name="date" value="{{ day|date:"Y-m-d" }}"/>
                    <input type="submit" name="_goto" value="Go to" class="swing-button"/>
                </form>

            </div>
            <a class="swing-button"
               href="{% url 'jivetime:calendar-day' group.id next_day.year next_day.month next_day.day %}">
                {{ next_day|date:"d.m.Y" }} &rarr;
            </a>
        </div>

    </div>

    <table class="w-full">
        <thead>
        <tr>
            <th class="center">Time</th>
            <th>{{ group.name }}</th>
        </tr>
        </thead>
        <tbody>
        {% for tm,cells in timeslots %}
            <tr class="even:bg-gray-100">
                <th class="center">
                    <a class="swing-button-style p-1 my-1 font-mono inline-block"
                       href="{% url 'jivetime:event-add' group.id %}?dtstart={{ tm|date:"Y-m-d\TH:i" }}">
                        {{ tm|date:"h:i a" }}
                    </a>
                </th>
                {% for occ in cells %}
                    <td>
                        {% if occ %}
                            <a class="swing-button block"
                               href="{{ occ.get_absolute_url }}">
                                {{ occ.title }}
                            </a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
