{% extends "base.html" %}

{% block title %}Event: {{ event }}{% endblock %}
{% block content %}

    <div class="text-left pb-10">
        {% include "jivetime/include/menu_scope.html" %}
    </div>

    <h3 class="jive-title">Event Details</h3>

    <form action="." method="post">
        <div class="flex">

            {% csrf_token %}
            <div class="w-1/2 jive-card jive-card-bordered jive-card-normal m-4">
                <div class="jive-card-body">
                    <table>
                        {{ event_form.as_table }}
                    </table>
                    <div class="card-actions justify-end text-center">
                        <input type="submit" name="_update" value="Update Details"
                               class="jive-btn jive-btn-primary"/>
                    </div>
                </div>

            </div>

            <div class="w-1/2 jive-card jive-card-bordered jive-card-normal m-4">
                <div class="jive-card-body">

                    <div class="jive-title">Remove this event and all its occurrences</div>

                    <div class="card-actions justify-end text-center">

                        <input type="submit" name="_delete" value="Delete Event"

                               class="jive-btn-error jive-btn"/>
                    </div>
                </div>


            </div>
        </div>


    </form>

    <h3 class="jive-title">
        Event Occurrences
    </h3>

    <div class="max-h-56 overflow-y-scroll border">
        {% if occurrences %}
            <table class="jive-table-zebra jive-table w-full">
                <thead>
                <tr class="font-bold jive-accent">
                    <td>Detail</td>
                    <td>Weekday</td>
                    <td>Date</td>
                    <td>Timespan</td>
                </tr>
                </thead>
                {% for o in occurrences %}
                    <tr class="even:bg-gray-100">
                        <td class="font-bold">
                            <a class="jive-btn jive-btn-primary jive-btn-sm"
                               href="{% url 'jivetime:event-occurrence' group.id event.id o.id %}">
                                See Details
                            </a>
                        </td>
                        <td>
                            {{ o.start_time|date:"l" }}
                        </td>
                        <td class="font-monospace">
                            {{ o.start_time|date:"d.m.Y" }}
                        </td>
                        <td>
                            {% if o.start_time.date == o.end_time.date %}
                                {{ o.start_time|date:"P" }} &ndash; {{ o.end_time|date:"P" }}
                            {% else %}
                                {{ o.start_time|date:"P" }} &ndash; {{ o.end_time|date:"d.m.Y P" }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <h4 class="jive-title pt-8">Add More Occurrences</h4>
    <div class="border rounded p-2 bg-gray-50">
        <form action="." method="post">
            {% csrf_token %}
            <table>
                <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="_add" value="Add Occurrences"
                               class="jive-btn jive-btn-primary"/>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                {% include "jivetime/recurring_form_part.html" %}
                </tbody>
            </table>
        </form>
    </div>

{% endblock %}
