{% extends "base.html" %}
{% block title %}Monthly View{% endblock %}

{% block content %}

    <div class="text-left">

        {% include "jivetime/include/menu_scope.html" %}

        <div class="jive-btn-group pl-10">
            <a class="jive-btn"
               href="{% url 'jivetime:calendar-month' group.id last_month.year last_month.month %}"
               title="Previous Month">&larr; {{ last_month|date:"m/Y" }}
            </a>

            <form action="{% url 'jivetime:calendar-year' group.id today.year %}" method="post" class="jive-btn-group px-2">
                {% csrf_token %}
                <input type="date" name="date" value="{{ this_month|date:"Y-m-d" }}"/>
                <input type="submit" name="_goto" value="Go to month" class="jive-btn"/>
            </form>

            <a class="jive-btn"
               href="{% url 'jivetime:calendar-month' group.id next_month.year next_month.month %}"
               title="Next Month">{{ next_month|date:"m/Y" }} &rarr;
            </a>
        </div>

    </div>

    {% include "jivetime/include/cal_grid.html" %}


{% endblock %}
