{% extends "base.html" %}
{% block title %}
    Monthly View
{% endblock %}

{% block content %}

    <div class="text-center">

        {% include "jivetime/include/menu_scope.html" %}

        <a class="swing-button"
           href="{% url 'jivetime-month' group.id last_month.year last_month.month %}"
           title="Previous Month">&larr; {{ last_month|date:"m/Y" }}</a>

        <div class="inline-block px-2 rounded">
            <form action="." method="post">
                {% csrf_token %}
                <input type="date" name="date" value="{{ this_month|date:"Y-m-d" }}"/>
                <input type="submit" name="_goto" value="Go to selected" class="swing-button"/>
            </form>
        </div>

        <a class="swing-button"
           href="{% url 'jivetime-month' group.id next_month.year next_month.month %}"
           title="Next Month">{{ next_month|date:"m/Y" }} &rarr;</a>
    </div>

    {% include "jivetime/include/cal_grid.html" %}


{% endblock %}
