{% extends "base.html" %}
{% block title %}Event Occurrence{% endblock %}
{% block content %}

    <div class="text-left pb-10">
        {% include "jivetime/include/menu_scope.html" %}
    </div>

    <h3 class="jive-title">
        Event Details
    </h3>

    <div class="pb-4">
        <div class="inline-block w-40 font-bold">
            Event Name
        </div>
        {{ occurrence.event.title }}
        <a href="{{ occurrence.event.get_absolute_url }}"
           class="jive-btn jive-btn-primary jive-btn-sm">
            See Event Details
        </a>
    </div>

    <h3 class="jive-title">
        Occurrence Details
    </h3>

    <form action="" method="post">
        {% csrf_token %}
        <div>
            <div class="inline-block w-40 font-bold">
                Start Time
            </div>
            {{ form.start_time }}
        </div>
        <div>
            <div class="inline-block w-40 font-bold">
                End Time
            </div>
            {{ form.end_time }}
        </div>

        <div class="pt-4">

            <input type="submit"
                   name="_update"
                   class="jive-btn-primary jive-btn"
                   value="Update Time"/>

            <input type="submit"
                   name="_delete"
                   class="jive-btn-error jive-btn"
                   value="Remove this occurrence"/>
        </div>

    </form>

{% endblock %}
