{% extends "base.html" %}
{% block title %}Event Occurrence{% endblock %}
{% block content %}

    <div class="text-left">
        {% include "jivetime/include/menu_scope.html" %}
    </div>

    <div class="py-4 text-center font-bold">
        Occurrence Details
    </div>

    <div class="pb-4">
        <div class="inline-block w-40 font-bold">
            Event
        </div>
        <a href="{{ occurrence.event.get_absolute_url }}"
           class="jive-btn">
            {{ occurrence.title }}
        </a>

    </div>

    <form action="" method="post">
        {% csrf_token %}
        <div>
            <div class="inline-block w-40 font-bold">
                Start Time
            </div>
            {{ form.start_time }}
        </div>
        <div>
            <div class="inline-block w-40 font-bold">
                End Time
            </div>
            {{ form.end_time }}
        </div>

        <div class="pt-4">

            <input type="submit"
                   name="_update"
                   class="jive-btn-primary jive-btn"
                   value="Update Time"/>

            <input type="submit"
                   name="_delete"
                   class="jive-btn-danger jive-btn"
                   value="Remove this occurrence"/>
        </div>

    </form>

{% endblock %}
