{% extends "base.html" %}
{% block title %}Yearly View {{ year }}{% endblock %}

{% block content %}

    <div class="text-left pb-10">

        {% include "jivetime/include/menu_scope.html" %}

        <div class="jive-btn-group pl-10">
            <a class="jive-btn"
               href="{% url 'jivetime:calendar-year' group.id last_year %}"
               title="Previous Year">&larr;
            </a>

            <form action="{% url 'jivetime:calendar-year' group.id today.year %}" method="post"
                  class="jive-btn-group px-2">
                {% csrf_token %}
                <input type="date" name="date" value="{{ today|date:"Y-m-d" }}"/>
                <input type="submit" name="_goto" value="Go to year" class="jive-btn"/>
            </form>

            <a class="jive-btn"
               href="{% url 'jivetime:calendar-year' group.id next_year %}"
               title="Next Year">&rarr;
            </a>
        </div>

    </div>
    <div>

        <table class="jive-table jive-table-normal w-full">
            <thead>
            <tr class="text-center">
                <th>Month</th>
                <th>Event Title</th>
                <th>Event Occurrence</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            </thead>
            <tbody>
            {% for month, occurrences in by_month.items %}
                <tr class="jive-hover">
                    <th class="jive-hover"
                            rowspan="{% if occurrences %}{{ occurrences|length|add:"1" }}{% else %}2{% endif %}">
                        <a class="h-full block"
                           href="{% url 'jivetime:calendar-month' group.id month.year month.month %}">
                            {{ month|date:"F" }}
                        </a>
                    </th>
                </tr>
                {% for o in occurrences %}
                    <tr class="jive-hover">
                        <td>
                            <a class="block font-bold"
                               href="{{ o.get_absolute_url }}">{{ o.title }}</a>
                        </td>
                        <td>
                            <a href="{% url 'jivetime:calendar-day' group.id o.start_time.year o.start_time.month o.start_time.day %}">
                                {{ o.start_time|date:"l, M jS" }}
                            </a>
                        </td>
                        <td>{{ o.start_time|date:"P" }}</td>
                        <td>{{ o.end_time|date:"P" }}</td>
                    </tr>
                    {% empty %}
                    <td class="border-top border-blue-100" colspan="4">no occurrences</td>
                    </tr>

                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
