<table class="w-full text-center">
    <thead>
    <tr class="jive-accent">
        {% for week_day in week_days %}
            <th style="width: 14.3%">{{ week_day }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in calendar_data %}
        <tr class="h-20">
            {% for day,items in row %}
                <td class="border {% if day == today.day %}today{% endif %}">
                    {% if day %}
                        <div class="day-ordinal">
                            <a href="{% url 'jivetime:calendar--day' group.id this_month.year this_month.month day %}">{{ day }}</a>
                        </div>
                        {% if items %}
                            <ul>{% for item in items %}
                                <li>
                                    <a href="{{ item.get_absolute_url }}"
                                       class="block border p-1 m-1 bg-gray-100 rounded hover:bg-gray-200">
                                        <span class="event-times">{{ item.start_time|time }}</span>
                                        {{ item.title }}
                                    </a>
                                </li>{% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
