<div class="w-full grid grid-cols-7">
    {% for week_day in week_days %}
        <div class="swing-accent font-bold text-center">{{ week_day }}</div>
    {% endfor %}

    {% for row in calendar_data %}
        {% for day,items in row %}
            <div class="border">
                {% if day %}
                    {{ day }}
                {% endif %}
                {% for item in items %}
                    <a href="{{ item.get_absolute_url }}"
                       class="block border p-1 m-1 bg-gray-100 rounded hover:bg-gray-200">
                        <span class="event-times">{{ item.start_time|time }}</span>
                        {{ item.title }}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div>