{% extends "base.html" %}
{% block title %}Add Event{% endblock %}
{% block head %}
    {{ block.super }}
    <script>
        let tabsItems = "#rec-tabs";
        let tabsContent = '#rec-tabs-content';

        function showTab(showNode) {
            document.querySelectorAll(tabsContent + ' .tab').forEach((node) => node.classList.add('hidden'));
            if (showNode) {
                document.querySelector(tabsContent + ' ' + showNode).classList.remove('hidden');
            }
        }

        window.addEventListener('load', function () {
            // trigger showTab click event
            document.querySelector(tabsItems + ' input:checked').click();
        })

    </script>
{% endblock head %}
{% block content %}
    <h3 class="center block text-xl">Add Event</h3>

    {{ event_form.non_field_errors }}
    {{ recurring_form.non_field_errors }}
    {% if event_form.errors or recurrence_form.errors %}
        <p class="form-errors">Please fix errors in the form.</p>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        <table>
            {{ event_form.as_table }}
            {% include "swingtime/recurring_form_part.html" %}
        </table>

        <input class="border p-4 inline-block m-4 bg-blue-200 rounded"
               type="submit"
               value="Submit"
        />
    </form>

{% endblock %}
