{% extends "base.html" %}
{% block title %}Daily View{% endblock %}
{% block content %}
    <div>Click a time from the Time column to add a new event...</div>
    <div class="nav p-2">
        <a class="swing-button"
           href="{% url 'swingtime-daily-view' group.id prev_day.year prev_day.month prev_day.day %}">
            &larr;</a>
        <div class="border inline-block rounded px-2">
            <form action="." method="post">
                {% csrf_token %}
                <input type="date" name="date" value="{{ day|date:"Y-m-d" }}"/>
                <input type="submit" name="_goto" value="Go to" class="swing-button"/>
            </form>

        </div>
        <a class="swing-button"
           href="{% url 'swingtime-daily-view' group.id next_day.year next_day.month next_day.day %}">&rarr;</a>
    </div>

    <table class="w-full">
        <thead>
        <tr>
            <th class="center">Time</th>
            <th>{{ group.name }}</th>
        </tr>
        </thead>
        <tbody>
        {% for tm,cells in timeslots %}
            <tr class="border">
                <th class="center">
                    <a href="{% url 'swingtime-add-event' group.id %}?dtstart={{ tm|date:"Y-m-d\TH:i" }}">
                        {{ tm|date:"h:i a" }}
                    </a></th>
                {% for cell in cells %}
                    <td{% if cell.event_class %} class="{{ cell.event_class }}"{% endif %}>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
