<div class="w-full">
    <div class="w-1/2 inline-block">{{ event_form.event_type.label_tag }}</div>
    <div class="w-1/2 inline-block">{{ event_form.event_type.errors }}
        {{ event_form.event_type }}</div>
</div>
<div class="w-full">
    <div class="w-1/2">{{ event_form.title.label_tag }}</div>
    <div class="w-1/2">{{ event_form.title.errors }}
        {{ event_form.title }}</div>
</div>
<div class="w-full">
    <div class="w-1/2">{{ event_form.description.label_tag }}</div>
    <div class="w-1/2">{{ event_form.description.errors }}
        {{ event_form.description }}</div>
</div>
