{% extends "base.html" %}
{% block title %}Event: {{ event }}{% endblock %}
{% block content %}

    <div class="text-center">
        {% include "swingtime/include/menu_scope.html" %}
    </div>

    <h3 class="swing-title">Event Detail</h3>

    <form action="." method="post">
        {% csrf_token %}
        <table>
            {{ event_form.as_table }}
        </table>
        <div class="py-4">

            <input type="submit" name="_save" value="Update"
                   class="swing-button swing-button-primary"/>
            <input type="submit" name="_delete" value="Delete"
                   class="swing-button-danger swing-button"/>
        </div>
    </form>

    {% with event.notes.all as notes %}
        {% if notes %}
            <h4>Notes</h4>
            <ul>
                {% for note in notes %}
                    <li>{{ note }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h3 class="swing-title">
        Current Occurrences
    </h3>

    <div class="max-h-56 overflow-y-scroll border">
        {% if occurrences %}
            <table class="table-auto w-full">
                <thead>
                <tr class="font-bold swing-accent">
                    <td>Detail</td>
                    <td>Weekday</td>
                    <td>Date</td>
                    <td>Timespan</td>
                </tr>
                </thead>
                {% for o in occurrences %}
                    <tr class="even:bg-gray-100">
                        <td class="font-bold">
                            <a href="{% url 'swingtime-occurrence' group.id event.id o.id %}">
                                See Detail
                            </a>
                        </td>
                        <td>
                            {{ o.start_time|date:"l" }}
                        </td>
                        <td class="font-monospace">
                            {{ o.start_time|date:"d.m.Y" }}
                        </td>
                        <td>
                            {% if o.start_time.date == o.end_time.date %}
                                {{ o.start_time|date:"P" }} &ndash; {{ o.end_time|date:"P" }}
                            {% else %}
                                {{ o.start_time|date:"P" }} &ndash; {{ o.end_time|date:"d.m.Y P" }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <h4 class="swing-title pt-8">Add More Occurrences</h4>
    <div class="border rounded p-2 bg-gray-50">
        <form action="." method="post">
            {% csrf_token %}
            <table>
                <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="_add" value="Add Occurrences"
                               class="swing-button swing-button-primary"/>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                {% include "swingtime/recurring_form_part.html" %}
                </tbody>
            </table>
        </form>
    </div>

{% endblock %}
